$color-primary: #333;
$font-color: #eee;
$link-color: #aaa;
body {
  font: 1em sans-serif;
  color: $font-color;
  background: $color-primary;
}

li {
  margin-bottom: 1em;
  img {
    height: 200px;
  }
  a {
    color: $link-color;
  }
}